@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
body{
    background: #F3EAE5;
    font-family: 'Open Sans', sans-serif;
}
.container, .pictures{
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    height: 100%;
}
.pictures #background{
    position: absolute;
    height: 100%;
    width: auto;
}
.pictures #main{
    position: absolute;
    top: 16%;
    height: 45.8%;
    width: auto;
}
.pictures #letter, .pictures #script{
    position: absolute;
    top: 16%;
    height: 45.8%;
    width: auto;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 0.4s ease;
}
.pictures #letter{
    opacity: 90%;
}
.pictures #letter.show, .pictures #script.show{
    transform: scale(1);
}
.pictures #cover{
    position: absolute;
    opacity: 0;
    top: 16%;
    height: 45.8%;
    width: auto;
    z-index: 100;
}
.text{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 45vw;
    height: 10vw;
    top: 80%;
}
.text .firstLine{
    position: absolute;
    color: #78BAA7;
    top: 10%;
    font-size: 2.5vw;
}
.text .secondLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #94CBD9;
    left: 40%;
    top: 50%;
    font-size: 1.5vw;
}
.gif{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: #000;*/
}
.gif #rainbow{
    position: absolute;
    height: 7vw;
    width: auto;
    left: 1%;
    top: 5%;
}
.gif #sun{
    position: absolute;
    height: 5vw;
    width: auto;
    left: 2%;
    top: 0;
}
.portrait1{
    display: flex;
    position: absolute;
    height: 20vw;
    width: 20vw;
    right: 0%;
    top: 0;
    /*background: #000;*/
}
.portrait1 #T1{
    position: absolute;
    border: 2px;
    border-radius: 5%;
    height: 15vw;
    left: 2%;
    top: 2%;
}
.portrait1 #T2{
    position: absolute;
    border: 2px;
    border-radius: 5%;
    height: 8vw;
    left: 48%;
    top: 2%;
}
.portrait1 #T3{
    position: absolute;
    border: 2px;
    border-radius: 5%;
    height: 8vw;
    left: 48%;
    top: 45%;
}
.portrait2{
    display: flex;
    position: absolute;
    height: 20vw;
    width: 20vw;
    left: 0;
    bottom: 0;
    /*background: #000;*/
}
.portrait2 #T4{
    position: absolute;
    border: 2px;
    border-radius: 5%;
    height: 16vw;
    right: 2%;
    bottom: 2%;
}
.portrait2 #T5{
    position: absolute;
    border: 2px;
    border-radius: 5%;
    height: 8vw;
    right: 50%;
    bottom: 47%;
}
.portrait2 #T6{
    position: absolute;
    border: 2px;
    border-radius: 5%;
    height: 8vw;
    right: 50%;
    bottom: 2%;
}
.playlist{
    display: flex;
    position: absolute;
    height: 19vw;
    width: 19vw;
    right: 1vw;
    bottom: 0;
}
.playlist #frame{
    display: flex;
    position: absolute;
    height: 19vw;
    width: auto;
    left: 0;
    top: 0;
}
.playlist .song{
    display: flex;
    position: absolute;
    height: 2.5vw;
    width: auto;
    border-radius: 5%;
}
/* +2.75vw */
.playlist #S1{
    left: 0.75vw;
    top: 2vw;
}
.playlist #S2{
    right: 1vw;
    top: 2vw;
}
.playlist #S3{
    left: 0.75vw;
    top: 4.75vw;
}
.playlist #S4{
    right: 1vw;
    top: 4.75vw;
}
.playlist #S5{
    right: 1vw;
    top: 7.5vw;
}
.playlist #S6{
    right: 1vw;
    top: 10.25vw;
}
.playlist #S7{
    right: 1vw;
    top: 13vw;
}
.playlist #S8{
    right: 1vw;
    top: 15.75vw;
}

